PRACTICA Nº2

Ejercicio Nº1

Apartado A)

In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    "Numeros": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
})

print(df1)

    Numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

Apartado B)

In [3]:
df2 = pd.DataFrame({
    "Aleatorios": np.random.rand(10) 
})

print(df2)

   Aleatorios
0    0.605409
1    0.206642
2    0.896961
3    0.190174
4    0.021753
5    0.178430
6    0.454799
7    0.774697
8    0.314580
9    0.637144

Apartado C)

In [6]:
df3 = pd.concat([df1, df2], axis=1)
print(df3)

    Numeros  Aleatorios
0         0    0.605409
1         1    0.206642
2         2    0.896961
3         3    0.190174
4         4    0.021753
5         5    0.178430
6         6    0.454799
7         7    0.774697
8         8    0.314580
9         9    0.637144
10       10         NaN
11       11         NaN
12       12         NaN
13       13         NaN
14       14         NaN
15       15         NaN
16       16         NaN
17       17         NaN
18       18         NaN
19       19         NaN

Apartado D)

In [12]:
df3.to_csv("df3.csv", index=False)

Ejercicio Nº2

In [14]:
df = pd.DataFrame({
    "A": range(1, 11),
    "B": [5, 3, 6, 8, 2, 9, 1, 7, 4, 10]
})

print(df)

    A   B
0   1   5
1   2   3
2   3   6
3   4   8
4   5   2
5   6   9
6   7   1
7   8   7
8   9   4
9  10  10

Apartado A)

In [15]:
filas_B_mayor_5 = df[df["B"] > 5]
print(filas_B_mayor_5)

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

Apartado B)

In [17]:
df.loc[df["B"] < 4, "B"] = pd.NA
print(df)

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

Ejercicio Nº3

In [27]:
df = pd.read_csv("winequality-red.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Apartado A)

In [28]:
descripcion = df.describe().T 
print(descripcion)

                       count       mean        std      min      25%  \
fixed acidity         1599.0   8.319637   1.741096  4.60000   7.1000
volatile acidity      1599.0   0.527821   0.179060  0.12000   0.3900
citric acid           1599.0   0.270976   0.194801  0.00000   0.0900
residual sugar        1599.0   2.538806   1.409928  0.90000   1.9000
chlorides             1599.0   0.087467   0.047065  0.01200   0.0700
free sulfur dioxide   1599.0  15.874922  10.460157  1.00000   7.0000
total sulfur dioxide  1599.0  46.467792  32.895324  6.00000  22.0000
density               1599.0   0.996747   0.001887  0.99007   0.9956
pH                    1599.0   3.311113   0.154386  2.74000   3.2100
sulphates             1599.0   0.658149   0.169507  0.33000   0.5500
alcohol               1599.0  10.422983   1.065668  8.40000   9.5000
quality               1599.0   5.636023   0.807569  3.00000   5.0000

                           50%        75%        max
fixed acidity          7.90000   9.200000   15.90000
volatile acidity       0.52000   0.640000    1.58000
citric acid            0.26000   0.420000    1.00000
residual sugar         2.20000   2.600000   15.50000
chlorides              0.07900   0.090000    0.61100
free sulfur dioxide   14.00000  21.000000   72.00000
total sulfur dioxide  38.00000  62.000000  289.00000
density                0.99675   0.997835    1.00369
pH                     3.31000   3.400000    4.01000
sulphates              0.62000   0.730000    2.00000
alcohol               10.20000  11.100000   14.90000
quality                6.00000   6.000000    8.00000

La función describe() de pandas calcula los estadísticos descriptivos básicos de cada variable numérica del conjunto de datos:

- count: número de observaciones (filas) disponibles.
- mean: media aritmética de la variable.
- std: desviación estándar, indica cuánto se dispersan los valores respecto a la media.
- min y max: valores mínimo y máximo observados.
- 25%, 50%, 75%: percentiles (cuartiles), que indican los valores por debajo de los cuales se encuentra el 25%, 50% (mediana) y 75% de los datos.

Apartado B)

In [29]:
def clasificar_calidad(q):
    if q <= 4:
        return "malo"
    elif q <= 6:
        return "regular"
    else:
        return "bueno"

df["quality_cat"] = df["quality"].apply(clasificar_calidad)

In [30]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_cat
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,regular
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,regular
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,regular
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,regular
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,regular

Apartado C)

In [32]:
vinos_malos = df[df["quality_cat"] == "malo"]
df = df[df["quality_cat"] != "malo"].reset_index(drop=True)
print(df["quality_cat"].value_counts())

quality_cat
regular    1319
bueno       217
Name: count, dtype: int64

Apartado D)

In [34]:
df["citric_acid_pct"] = df["citric acid"] * 100
df[["citric acid", "citric_acid_pct"]].head()

   citric acid  citric_acid_pct
0         0.00              0.0
1         0.00              0.0
2         0.04              4.0
3         0.56             56.0
4         0.00              0.0

Apartado E)

In [38]:
siete_mayor_ph = df.nlargest(7, "pH")  
print(siete_mayor_ph)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1266            5.4             0.740         0.00            1.20      0.041
1271            5.0             0.740         0.00            1.20      0.041
670             5.1             0.470         0.02            1.30      0.034
88              4.7             0.600         0.17            2.30      0.058
1074            5.4             0.420         0.27            2.00      0.092
1251            5.2             0.645         0.00            2.15      0.080
535             5.0             1.040         0.24            1.60      0.050

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1266                 16.0                  46.0  0.99258  4.01       0.59
1271                 16.0                  46.0  0.99258  4.01       0.59
670                  18.0                  44.0  0.99210  3.90       0.62
88                   17.0                 106.0  0.99320  3.85       0.60
1074                 23.0                  55.0  0.99471  3.78       0.64
1251                 15.0                  28.0  0.99444  3.78       0.61
535                  32.0                  96.0  0.99340  3.74       0.62

      alcohol  quality quality_cat  citric_acid_pct
1266     12.5        6     regular              0.0
1271     12.5        6     regular              0.0
670      12.8        6     regular              2.0
88       12.9        6     regular             17.0
1074     12.3        7       bueno             27.0
1251     12.5        6     regular              0.0
535      11.5        5     regular             24.0

Subapartado A)

In [40]:
from funciones_vino import eliminaDecimales, calculaRatio
df = eliminaDecimales(df, "alcohol")
df[["alcohol", "alcohol_sin_decimales"]].head()

   alcohol  alcohol_sin_decimales
0      9.4                    9.0
1      9.8                    9.0
2      9.8                    9.0
3      9.8                    9.0
4      9.4                    9.0

Subapartado B)

In [58]:
try:
    ratio_so2 = calculaRatio(df, "total sulfur dioxide", "free sulfur dioxide")
    df["ratio_total_free_so2"] = ratio_so2
except ValueError as e:
    print("Se ha producido una excepción:", e)

Se ha producido una excepción: Hay valores del ratio total sulfur dioxide/free sulfur dioxide mayores que 1

Ejercicio Nº4

In [59]:
estudiantes = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "nombre": ["Ana", "Luis", "Marta", "Jorge"]
})

notas = pd.DataFrame({
    "id": [1, 2, 2, 5],
    "asignatura": ["Matemáticas", "Historia", "Química", "Biología"],
    "nota": [8.5, 7.0, 6.5, 9.0]
})

In [60]:
print(estudiantes)

   id nombre
0   1    Ana
1   2   Luis
2   3  Marta
3   4  Jorge

In [61]:
print(notas)

   id   asignatura  nota
0   1  Matemáticas   8.5
1   2     Historia   7.0
2   2      Química   6.5
3   5     Biología   9.0

Apartado A)

In [63]:
merge_inner = pd.merge(estudiantes, notas, on="id", how="inner")
print(merge_inner)
print("Número de filas:", len(merge_inner))

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
Número de filas: 3

En el merge inner se obtienen 3 filas porque solo se combinan los ids comunes (1 y 2).
El id 1 genera una fila y el id 2 genera dos filas al tener dos notas distintas en el DataFrame notas.

Apartado B)

In [64]:
merge_outer = pd.merge(estudiantes, notas, on="id", how="outer")
print(merge_outer)

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN
5   5    NaN     Biología   9.0

En el outer se incluyen todos los ids que aparecen en cualquiera de los dos DataFrames:
- id 1 y 2: están en ambos, salen con nombre, asignatura y nota.
- id 3 (Marta) y id 4 (Jorge): solo existen en estudiantes, aparecen con NaN en asignatura y nota porque no tienen notas asociadas.
- id 5 (Biología, 9.0): solo existe en notas, aparece con NaN en nombre porque no hay estudiante con ese id.

Apartado C)

In [65]:
merge_left = pd.merge(estudiantes, notas, on="id", how="left")
print(merge_left)

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   3  Marta          NaN   NaN
4   4  Jorge          NaN   NaN

En el left merge se mantienen todos los estudiantes (ids 1–4), por lo que Marta y Jorge aparecen aunque no tengan notas (con NaN en las columnas de notas).
La única información que se pierde respecto al outer es la fila con id 5 (Biología, 9.0), que solo estaba en notas y no tiene estudiante asociado.

Apartado D)

In [66]:
merge_right = pd.merge(estudiantes, notas, on="id", how="right")
print(merge_right)

   id nombre   asignatura  nota
0   1    Ana  Matemáticas   8.5
1   2   Luis     Historia   7.0
2   2   Luis      Química   6.5
3   5    NaN     Biología   9.0

En el right merge usando notas como tabla derecha se mantienen todas las filas de notas (ids 1, 2, 2 y 5).
Los estudiantes con id 3 (Marta) e id 4 (Jorge) desaparecen del resultado porque no tienen ninguna nota asociada.
Además, la fila con id 5 aparece con NaN en nombre ya que no existe ningún estudiante con ese id.

Apartado E)

In [67]:
estudiantes["curso"] = ["1º ESO", "2º ESO", "3º ESO", "4º ESO"]
print(estudiantes)

   id nombre   curso
0   1    Ana  1º ESO
1   2   Luis  2º ESO
2   3  Marta  3º ESO
3   4  Jorge  4º ESO

In [68]:
merge_curso = pd.merge(estudiantes, notas, on="id", how="inner")
print(merge_curso)

   id nombre   curso   asignatura  nota
0   1    Ana  1º ESO  Matemáticas   8.5
1   2   Luis  2º ESO     Historia   7.0
2   2   Luis  2º ESO      Química   6.5

He añadido la columna curso al DataFrame estudiantes y después he hecho un merge interno por id.
En el resultado aparecen solo los estudiantes que tienen notas (id 1 y 2).

- Ana (1º ESO) aparece una vez con su asignatura y nota.
- Luis (2º ESO) aparece dos veces, una por cada asignatura (Historia y Química).
Esto muestra un caso de relación uno-a-muchos: un estudiante puede tener varias filas en el resultado porque está matriculado en varias asignaturas.

Ejercicio Nº5

In [69]:
ventas = pd.DataFrame({
    "region":   ["Norte","Norte","Sur","Este","Sur","Este","Oeste","Oeste","Norte","Sur"],
    "vendedor": ["Ana","Luis","Ana","Jorge","Luis","Ana","Marta","Luis","Ana","Jorge"],
    "ventas":   [1200, 800, 950, 1100, 400, 1600, 700, 450, 895, 900],
    "producto": ["A","A","B","A","B","A","B","A","B","B"]
})

In [70]:
print(ventas)

  region vendedor  ventas producto
0  Norte      Ana    1200        A
1  Norte     Luis     800        A
2    Sur      Ana     950        B
3   Este    Jorge    1100        A
4    Sur     Luis     400        B
5   Este      Ana    1600        A
6  Oeste    Marta     700        B
7  Oeste     Luis     450        A
8  Norte      Ana     895        B
9    Sur    Jorge     900        B

Apartado A)

In [71]:
total_por_region = ventas.groupby("region")["ventas"].sum()
print(total_por_region)

region
Este     2700
Norte    2895
Oeste    1150
Sur      2250
Name: ventas, dtype: int64

Apartado B)

Apartado C)

Apartado D)

Apartado E)

Ejercicio Nº6